{{ $secretData := printf "clientSecret: %s\n" .ClientSecret }}
apiVersion: v1
data:
  oauth: {{ b64enc $secretData }}
kind: Secret
metadata:
  annotations:
    resource_kind: '*v1.Secret'
  name: google-oauth
  namespace: gloo-system
type: Opaque